.rmdb-header {
  width: 100%;
  height: auto;
  background: #4555e7;
  padding: 0 20px;
  box-sizing: border-box;
}

.rmdb-header-content {
  max-width: 1280px;
  max-height: 60px;
  height: auto;
  padding: 20px 0px;
  margin: 10 auto;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration-color: aliceblue;
}

.rmdb-sublogo{
  width: 300px;
  margin-top: 10px;
  
  float: left;
   color: aliceblue;
  font-size: 14px;
   
}


.rmdb-logo {
  width: 300px;
  margin-top: -10px;
  
  float: left;
   color: aliceblue;
  font-size: 28px;
   bottom: 20px;
  
}

.rmdb-tmdb-logo {
  width: 122px;
  margin-top: 25px;
  float: right;
  text-shadow: 5rem;
  text-decoration-color: aliceblue;
}

@media screen and (max-width: 500px) {
  .rmdb-header-content {
    max-width: 1280px;
    min-height: 0px;
  }

  .rmdb-tmdb-logo {
    display: inline-block;
    width:80px;
    margin-top: 0px;
  }

  .rmdb-logo {
    width: 150px;
    margin-top: 5px;
  }
}